[submodule "vendor/LegacyTHPS"]
	path = vendor/LegacyTHPS
	url = git@github.com:better-4/LegacyTHPS.git
	branch = cli
[submodule "vendor/partymod-thps4"]
	path = vendor/partymod-thps4
	url = git@github.com:better-4/partymod-thps4.git
	branch = main
